/*-----------------Imortaciones -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');


.Container {

  background: radial-gradient(circle at top left, #59554C, #F2EFDF, #AEBFBE);
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Login {

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 500px;
  background: #F8F9FD;
  border-radius: 40px;
  border: 5px solid rgb(255, 255, 255);
  
}

.Login h1 {
  justify-items: center;
  text-align: center;
  font-family: "Special Gothic", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #798C8C;
  
}

.knot-right{
  background-color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.knot-right img {
  width: 390px;
  height: 390px;

}
