.crud {
  background-color: aqua;
  width: auto;
  height: 60px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.crud  .h1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.parrafo {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: auto;
  height: 60px;
}